body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88d5e9;
  color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.container {
  text-align: center;
  padding: 2rem;
  background: #fff;
  flex: 0 0 80%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
button {
  display: block;
  font-size: 2rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #6cc3d8;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  text-transform: capitalize;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}
input[type="text"] {
  padding: 0.5rem;
  margin: 1rem;
  outline: none;
  border: 3px solid #88d5e9;
  border-radius: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
input[type="text"] {
  box-shadow: 0 0 10px #637377;
}
#messageOut {
  margin: 0.5rem 0;
  color: #88d5e9;
}
